<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script th:src="@{/js/login.js}"></script>
</head>
<body>
로그인 사용자별 (권한별) 메뉴
<ul id="menu">
    <li><a href="#">Home</a></li>
    <li id="userMenu" style="display: none"><a href="#">User Menu</a></li>
    <li id="managerMenu" style="display: none"><a href="#">Manager Menu</a></li>
    <li id="adminMenu" style="display: none"><a href="#">Admin Menu</a></li>
</ul>
<hr/>
<!-- 로그인 -->
<form id="loginForm">
    Username:<input type="text" id="username" name="username" /><br/>
    Password:<input type="password" id="password" name="password" /><br/>
    <button type="button" onClick="login()">Login</button>
</form>

<!-- 로그아웃 -->
<div id="greeting" style="display: none">
    <p>Welcome, <span id="usernameDisplay"></span>!</p>
    <button id="logout" type="button" onclick="logout()">Logout</button>
</div>

</body>
</html>